.quadradinho{
    height: 80px;
    width: 80px;
    background-color: black;
    color: white;
    text-decoration: solid;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    margin: 2px;
}

.gabarito{
    height: 80px;
    width: 84px;
    background-color: black;
    color: rgb(255, 255, 255);
    text-decoration: solid;
    text-align: center;
    padding: 10px;
    font-size: 60px;
    margin: 2px;
}

.quadradinho:hover{
background-color: gray;
}

.linha{
    display: flex;
}
.linha_gabarito{
    display: flex;
}

.btn{
    font-family: aktiv-grotesk-extended, sans-serif;
	font-weight: 700;
	border: 2px solid #000;
	border-radius: 3rem;
	overflow: hidden;
	color: #000;
    margin-top: 20px;
    text-decoration: solid;
}

.btn:hover{
    color: #fff;
}